.rating {
    display: flex;
    margin-bottom: 50px;
    cursor: pointer;
}
.star {
    background: $gradient_first;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    align-self: center;
    align-content: center;
}
