mixin type-item(options)
  -
    let typeText = options.type;

    if (typeText.includes('1'))
      sizeText = 'type-item__text_h1';
    else if (typeText.includes('2'))
      sizeText = 'type-item__text_h2';
    else if (typeText.includes('3'))
      sizeText = 'type-item__text_h3';
    else 
      sizeText = 'type-item__text_body';

  .type-item(class = sizeText)
    .type-item__header= options.type 
    .type-item__description= options.description