.type-item {
  display: flex;
}

.type-item:last-child {
  max-width: 368px
}

.type-item__header {
  color: $textColor_25;
  font-weight: 400;
  text-align: right;
  min-width: 37px;
}

.type-item__description {
  padding-left: 30px;
}

.type-item__text_h1 {
  @include font_h1;
}

.type-item__text_h2 {
  @include font_h2;
}

.type-item__text_h3 {
  @include font_h3;
}

.type-item__text_body {
  @include font_body;
}