mixin button(options)
    -
        let viewClassname = '';
        let arrowClassname = '';
        options.view ==='filled' ? viewClassname='button_filled' : 
        options.view ==='hasBorder' ? viewClassname='button_with-border' : 
        options.view ==='empty' ? viewClassname='button_empty' : 
        options.hasArrow === true ? arrowClassname = 'button_with-arrow' : '';
    button(class=[viewClassname, arrowClassname] disabled=options.isDisabled)=options.text

    //- if(options.filled)
    //-     if(options.arrow)
    //-         //тута залитая со стрелочкой
    //-     else
    //-         button(name=text class='button-filled')=text
    //- else 
    //-     .button-wrapper
    //-         button(name=text class='button-with_border')=text