@mixin button_style {
  @include font_h3;
  border-radius: 22px;
}

.button-filled {
  background: $gradient_first;
  width: 196px;
  height: 34px;
  @include button_style;
  color: white;
  border: none;
}

.button-wrapper {
  display: flex;
  background: $gradient_first;
  border-radius: 22px;
  box-sizing: border-box;
  width: 87px;
  height: 34px;
  justify-content: center;
}

.button-with_border {
  border: 2px solid transparent;
  background-color: white;
  background-clip: content-box;
  width: 87px;
  height: 34px;
  padding: 0;
  @include button_style;
  color: $designColor_first;
}