@mixin button_style {
    @include font_h3;
    border-radius: 22px;
    width: 99px;
    height: 44px;
}

.button {
    display: flex;
    background: $gradient_first;
    box-sizing: border-box;
    @include button_style;
    justify-content: center;

    &_with-border {
        border: 2px solid transparent;
        background: white content-box;
        padding: 0;
        @include button_style;
        color: $designColor_first;
    }
}

.button_filled {
    background: $gradient_first;
    @include button_style;
    color: white;
    border: none;
}

.button_empty {
    @include button_style;
    width: 61px;
    height: 15px;
    background: white;
    color: $designColor_first;
    border: none;
    padding: 0;
}

.button_with-arrow {
    padding: 0;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button__text {
    flex-grow: 1;
    padding-left: 3.7em;
}
.button__icon {
    width: 44px;
}
