.material-icons {
  padding: 4px 2px 3px 4px;
  color: $designColor_second;
}
.like {
  border: 1px solid $textColor_50;
  &-pressed {
    border: 1px solid $designColor_first;
  }
}

.like__icon {
  color: red;

  &-pressed {
    color: $designColor_first;
  }
}

.like__counter {
  color: red;
  &-pressed {
    color: $designColor_first;
  }
}
