.material-icons {
  padding: 4px 2px 3px 4px;
  color: $gradient_first;
}
.like {
  border: 1px solid $textColor_25;
  .like__icon,
  .like__counter {
    color: $textColor_25;
  }
}

.like-pressed {
  border: 1px solid $designColor_first;
  .like__icon {
    color: $gradient_first;
  }

  .like__counter {
    color: $designColor_first;
  }
}
