.like {
    border: 1px solid $textColor_25;
    border-radius: 10px;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;

    .like__icon {
        margin: 0px 6px 0px 4px;
    }

    .like__icon,
    .like__counter {
        color: $textColor_25;
        font-size: 0.65rem;
    }
}

.like_pressed {
    border: 1px solid $designColor_first;

    .like__icon {
        background-image: $gradient_first;
        -webkit-background-clip: text;
        color: transparent;
        background-clip: text;
    }

    .like__counter {
        color: $designColor_first;
    }
}
