mixin like(options)
    button.like(class=options.isPressed ? 'like_pressed' : '')
        span.material-icons(class = "like__icon")=options.isPressed ? 'favorite' : 'favorite_border'
        span.like__counter=options.value