mixin like(options)
    //- -
    //-     let likeClass = "like";
    //-     let iconClass = "like__icon";
    //-     let counterClass = "like__counter";
        

    //-     //- if (options.isPressed) {
    //-     //-     likeClass += "-pressed";
    //-     //-     iconClass += "-pressed";
    //-     //-     counterClass += "-pressed";}
    .like
        span.material-icons(class = "like__icon") favorite
        span.like__counter=options.value