.footer-body__navigation {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.footer-body__logo {
    padding-bottom: 17px;
}

.footer-body__describe {
    width: 260px;
}

.footer-body__subscribe {
    width: 260px;
}

.footer-body__text-describe {
    @include font_body;
}

.navigation__title {
    @include font_h3;
}

.navigation__text {
    @include font_body;
}