.checkbox__input {
    @include visuallyhidden;

    &:checked + .checkbox__box {
        background: url(./assets/images/check-mark.svg) center no-repeat;
        border: 1px solid $designColor_first;
    }
}

.checkbox__box {
    border-radius: 4px;

    border: 1px solid $textColor_25;
    color: $textColor_50;
    width: 1.3em;
    height: 1.3em;
    background-color: transparent;
    margin-right: 0.7em;
    flex-shrink: 0;

    &:focus {
        outline: 1px solid $designColor_first;
        box-shadow: 0 0 10px rgba(188, 156, 255, 0.9);
    }

    &:hover {
        //outline: 1px solid $designColor_first;
        border: 1px solid $designColor_first;
        box-shadow: 0 0 10px rgba(188, 156, 255, 0.9);
    }
}

.checkbox__label {
    @include font_body;
    display: flex; //или инлайн флекс??
    line-height: 18px;
    color: $textColor_50;
    max-width: 222px;
    cursor: pointer;
}
