mixin checkbox()
    .checkbox
        input(id="c1" type="checkbox")
        label(for="c1") Checkbox


    //- .checkbox
    //-     input(id="c1" type="checkbox")
    //-     label(for="c1")Checkbox
    //- label(for="scales") Scales
    //-     input(type="checkbox" name="subscribe" id="subscribe-field")
    //-     span(class="highload2")

