mixin checkbox(options)
    .checkbox
        label.checkbox__label
            input.checkbox__input(type="checkbox" disabled=options.isDisabled tabindex="-1")
            span.checkbox__box(tabindex="0")
            =options.text