@mixin color-list-font {
  @include font_h2;
  line-height: 28px;
  margin: 0;
}

.color-item {
  display: flex;
  justify-content: start;
  align-items: center;
}

.color-item__rectangle {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}

.color-item__rectangle_dark-shade-100 {
  background: $textColor;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.color-item__rectangle_dark-shade-75 {
  background-color: $textColor_75;
  border: 1px solid black;
  box-sizing: border-box;
}

.color-item__rectangle_dark-shade-50 {
  background-color: $textColor_50;
}

.color-item__rectangle_dark-shade-25 {
  background-color: $textColor_25;
}

.color-item__rectangle_dark-shade-5 {
  background-color: $textColor_05;
}

.color-item__rectangle_purple {
  background-color: $designColor_first;
}

.color-item__rectangle_green {
  background-color: $designColor_second;
}

.color-item__text {
  color: $textColor;
  padding-left: 40px;
}

.color-item__title {
  @include color-list-font;
}

.color-item__hex {
  @include color-list-font;
  font-weight: 400;
}