mixin form-elements
    header.ui-kit-header
        +ui-kit-header
    .form-elements__wrapper
        section.form-elements__fields-buttons
            .form-elements__fields-calendars
                .form-elements__fields
                    +field({header: "Text field", description: "Default", mask: "Email"})
                    +field({header:"Text field", description: "Hover / Focus", mask: "This is pretty awesome"})
                    +field({header:"Dropdown", mask: "Сколько гостей"})
                    +field({header:"masked text field", mask: "ДД.ММ.ГГГГ"})
                .form-elements__calendars
                    +field({header: "date Dropdown", description: "Default", mask: "Email"})
                    +field({header:"filter date dropdown", description: "Hover / Focus", mask: "This is pretty awesome"})
                    +field({header:"subscription text field", mask: "Email", isSubscription: true, subscriptionText:"Получайте специальные предложения и новости сервиса"})
                //- +field({header:"subscription text field", isSubscription: true})

            .form-elements__function-buttons
                .checkbox-list
                    label.checkbox-list__header Checkbox Buttons
                    .checkbox-list__item
                        +checkbox({text:"Можно курить", isDisabled:true})
                    .checkbox-list__item
                        +checkbox({text:"Можно с питомцами"})
                    .checkbox-list__item
                        +checkbox({text:"Можно пригласить гостей (до 10 человек)"})
                .radio-list
                    label.radio-list__header Radio Buttons
                    .radio-list__items
                        +radio-button({text:"Мужчина", isChecked:true, name:"gender"})
                        +radio-button({text:"Женщина", name:"gender"})
                .toggle-list
                    label.toggle-list__header Toggle
                    .toggle-list__items
                        +toggle({text:"Получать спецпредложения", isOn:true})
                        +toggle({text:"Получать спецпредложения"})
                .like-buttons
                    label.like-buttons__header like button
                    .like-buttons__item 
                        +like({value: 2, isPressed:true})
                    .like-buttons__item 
                        +like({value: 12})
                .rate-buttons 
                    label.rate-buttons__header rate button
                    .rate-buttons__item 
                        +rating
                    .rate-buttons__item 
                        +rating
            .form-elements__slider-buttons-pagination
                .range-slider
                    //+slider({header: "range slider", range: {min: 1000, max: 3000}})
                    +slider
                .buttons
                    label.buttons__header buttons
                    .buttons__item
                        +button({text:'click me',view: 'filled'})
                    .buttons__item
                        +button({text:'click me',view: 'filled', isDisabled: true})
                    .buttons__item
                        +button({text:"click me", view: 'hasBorder'})
                    .buttons__item
                        +button({text:"click me", view: 'hasBorder', isDisabled: true})
                    .buttons__item
                        +button({text:"click me", view: 'empty'})
                    .buttons__item
                        +button({text:"click me", view: 'empty', isDisabled: true})
                    .buttons__item
                        +button({text:"перейти к оплате", view: 'filled', hasArrow: true})
                .pagination-block
                    label.pagination-block__header pagination
                    .pagination-block__item 
                        +pagination

        section.form-elements__dropdowns
            +dropdown({values:['спальни', 'кровати', 'ванные комнаты']})
            +dropdown({values:['взрослые', 'дети', 'младенцы']})
        section.form-elements__lists
            .form-elements__expandable-lists
                .form-elements__expandable-list-wrapper
                    // +checkbox
                .form-elements__expandable-list
            .form-elements__rich-bullet-lists
                .form-elements__list-wrapper
                    //+rich-list; +checkbox
                .form-elements__list-wrapper
                    //+bullet-list

        section.form-elements__review
            .form-elements__infographics
                +infographic

            .form-elements__comment cccc2


