.form-elements {
    margin: 4.0625rem 8.8125rem 8.75rem;
    display: grid;
    grid-template-rows: 636px 265px 281px 158px;
    grid-template-columns: 374px 320px 320px;
    //row-gap: 100px;
    column-gap: 72px;

    &__checkbox-list-header,
    &__like-buttons-header,
    &__buttons-header,
    &__radio-list-header,
    &__pagination-block-header,
    &__rate-buttons-header {
        margin: 0 0 1rem 0;
        @include font_h3;
    }

    &__fields-item {
        margin-bottom: 20px;
    }

    &__checkbox-list {
        margin-bottom: 2.6rem;

        &-item:not(:last-child) {
            margin-bottom: 0.66rem;
        }
    }

    &__radio-list {
        margin-bottom: 2.48rem;
        &-header {
            margin-bottom: 0.85rem;
            @include font_h3;
        }
        &-items {
            display: flex;
        }
    }
    &__toggle-list {
        margin-bottom: 2.7rem;
        &-header {
            margin-bottom: 0.795rem;
            @include font_h3;
        }
        &-item:not(:last-child) {
            margin-bottom: 0.625rem;
        }
    }

    &__like-buttons {
        margin-bottom: 2.5rem;
        &-items {
            display: flex;
            justify-content: space-between;
            max-width: 5.625rem;
        }
    }
    &__rate-buttons {
        &-items {
            display: flex;
            justify-content: space-between;
            max-width: 16.25rem;
        }
    }
}

.form-elements__slider-buttons-pagination {
    width: 500px;
}

.form-elements__comment {
    grid-column: 2/4;
    margin: 30px 0 0 79px;
}
.form-elements__review {
    //display: grid;
}

.form-elements__calendars {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.radio-list__items {
    display: inline-flex;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 218px;
}
.buttons__item {
    margin-bottom: 31px;
}
.buttons__header {
    margin-top: 20px;
    margin-bottom: 16px;
    width: 100%;
}
