$textColor: rgb(31, 32, 65);
$textColor_75: rgba(31, 32, 65, 0.75);
$textColor_50: rgba(31, 32, 65, 0.50);
$textColor_25: rgba(31, 32, 65, 0.25);
$textColor_05: rgba(31, 32, 65, 0.05);
$designColor_first: #BC9CFF;
$designColor_second: #6FCF97;
$gradient_first: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$gradient_second: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);