mixin color-item(options)
  -
    let colorName = options.title.toLowerCase();
    if (options.title.includes('100%')){
      colorName = 'color-item_dark-shade-100';
    }
    else if (colorName.includes('75%')){
      colorName = 'color-item_dark-shade-75';
    }
    else if (colorName.includes('50%')){
      colorName = 'color-item_dark-shade-50';
    }
    else if (colorName.includes('25%')){
      colorName = 'color-item_dark-shade-25';
    }
    else if (colorName.includes('5%')){
      colorName = 'color-item_dark-shade-5';
    }
    else if (colorName.includes('purple')){
      colorName = 'color-item_purple';
    }
    else{
      colorName = 'color-item_green';
      }

  .color-item
    .color-item__rectangle(class = colorName)
    .color-item__text
      p.color-item__title= options.title 
      p.color-item__hex= options.hex
