mixin footer
    .footer__body
        +footer-body({
            describe: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
            navigationList: [
                {title: "Навигация"},
                {text: "О нас"},
                {text: "Новости"},
                {text: "Служба поддержки"},
                {text: "Услуги"}
            ],
            aboutList: [
                {title: "О нас"},
                {text: "О сервисе"},
                {text: "Наша команда"},
                {text: "Вакансии"},
                {text: "Инвесторы"}
            ],
            supportList: [
                {title: "Служба поддержки"},
                {text: "Соглашения"},
                {text: "Сообщества"},
                {text: "Связь с нами"}
            ],
            subscribe: [
                {title: "Подписка"},
                {text: "Получайте специальные предложения и новости сервиса"},
            ]
        })
    block copyright