.headers_and_footers {
    background: #f4f4f6; //margin-bottom: 1600px;
}

.header-logout,
.header-login,
.footer {
    //отвалился псевдокласс
    margin-bottom: 40px;
    background-color: white; //вероятно, нужно перенести в css каждого блока внутрь
}

.footer {
    padding: 100px 140px;
}

// .ui-kit-header {
//     margin-bottom: 62px;
// }
