mixin headers_and_footers
    .headers_and_footers
        header.ui-kit-header
            +ui-kit-header
        header.header
            +header(!isLogin)
        header.header
            +header(isLogin)