.checkbox-list {
    width: 266px;
    border: none;

    &__menu {
        display: flex;
        @include font_h3;
        justify-content: space-between;
        align-items: center;
    }
    &__header {
        //margin: 0;
        @include font_h3;
    }
    &__arrow {
        margin-right: 10px;
    }
    &__body {
        border: none;
        margin-top: 13px;
    }
    &__item {
        margin-bottom: 10px;
        &:hover {
            //box-shadow: 0 0 10px rgba(188, 156, 255, 0.3);
            border-radius: 5px;
        }
    }
}
