mixin checkbox-list(options=[])
    -
        const {type="", 
            header="",
            items,
            // classic, dropdown, rich
        } = options


    if (type=='dropdown')
        .checkbox-list
            .checkbox-list__menu
                span.checkbox-list__header=header
                .checkbox-list__arrow.material-icons expand_more
            .checkbox-list__body
                each item in items 
                    .checkbox-list__item
                        +checkbox(item)
    else if(type=='rich')
        .checkbox-list
            span.checkbox-list__header=header
            .checkbox-list__body
                each item in items 
                    .checkbox-list__item
                        +checkbox(item)
    else
        .d
    //- .checkbox-list
    //-     .checkbox-list__menu
    //-         span.checkbox-list__header Expandable checkbox list
    //-         .checkbox-list__arrow.material-icons expand_more
    //-     .checkbox-list__body
    //-         each item in options.items 
    //-             .checkbox-list__item
    //-                 +checkbox(item)