mixin checkbox-list
    form
        .multiselect
            .selectBox
                select
                    option Select an option
                .overSelect
            .checkboxes
                label(for='one')
                    input#one(type='checkbox')
                    | First checkbox
                label(for='two')
                    input#two(type='checkbox')
                    | Second checkbox
                label(for='three')
                    input#three(type='checkbox')
                    | Third checkbox



//- form
//-     .multiselect
//-         .selectBox(onclick='showCheckboxes()')
//-         select
//-             option Select an option
//-         .overSelect
//-     #checkboxes
//-         label(for='one')='Second checkbox'
//-             input#one(type='checkbox')
//-             | First checkbox
//-         label(for='two')='Second checkbox'
//-             input#two(type='checkbox')
//-             | Second checkbox
//-         label(for='three')='Second checkbox'
//-             input#three(type='checkbox')
//-             | Third checkbox


//- form
//-     .multiselect
//-         .selectBox(onclick=showCheckboxes())
//-             select
//-                 option Select an option
//-             .overSelect
//-         div#checkboxes
//-             label(for="one")
//-                 input(type="checkbox" id='one')
//-             label(for="two")
//-                 input(type="checkbox" id='two')
//-             label(for="three")
//-                 input(type="checkbox" id='three')
