mixin field(options)
    .text-field
        .text-field__top
            label.text-field__header(for="login")= options.header
            if (options.description)
                label.text-field__description(for="login")=options.description
        .text-field__body
            if (isSubscription)
                .text-field__subscription= options.subscriptionText
                //СТРЕЛОЧКА
            input.text-field__form(type="text" name="login" id="login" placeholder=options.mask)