mixin infographic(options)
    .infographic
        .infographic__icon.material-icons=options.icon 
        .infographic__text 
            .infographic__title=options.title
            .infographic__subtitle=options.subtitle
