mixin color-and-types
    .color-and-types
        .color-list
            +color-item({title: "Dark Shade 100%", hex: "#1F2041"})
            +color-item({title: "Dark Shade 75%", hex: "#1F2041"})
            +color-item({title: "Dark Shade 50%", hex: "#1F2041"})
            +color-item({title: "Dark Shade 25%", hex: "#1F2041"})
            +color-item({title: "Dark Shade 5%", hex: "#1F2041"})
            +color-item({title: "Purple", hex: "#BC9CFF"})
            +color-item({title: "Green", hex: "#6FCF97"})
        .type-list
            +type-item({type: "H1", description: "This one is the sub-section or widget title"})
            +type-item({type: "H2", description: "Next one is the item title inside widgets"})
            +type-item({type: "H3", description: "THIS IS A LABEL OR CTA TEXT"})
            +type-item({type: "Body", description: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})