mixin toggle(options)
    -
        const {
            text='',
            isOn=false
        }= options
    .toggle
        label.toggle__label
            input.toggle__input(type="checkbox" checked=isOn)
            span.toggle__box
            =text