include ./pages/colors_and_types/colors_and_types
include ./pages/headers_and_footers/headers_and_footers
include ./pages/form-elements/form-elements

include ./blocks/color-list/color-list
include ./blocks/type-list/type-list
include ./blocks/ui-kit-header/ui-kit-header
include ./blocks/header/header
include ./blocks/logo/logo
include ./blocks/header-navigation/header-navigation
include ./blocks/button/button
include ./blocks/header/header
include ./blocks/footer/footer
include ./blocks/copyright/copyright
include ./blocks/footer-body/footer-body
include ./blocks/field/field
include ./blocks/checkbox/checkbox
include ./blocks/radio/radio
include ./blocks/toggle/toggle
include ./blocks/like/like


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Ui-kit
    link(rel="stylesheet" type="text/css" href="main.css")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/x-icon' href='favicon.ico')

  body
    +color-and-types
    +form-elements
    +headers_and_footers
