include ./components/color-list/color-list
include ./components/type-list/type-list

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Ui-kit
    link(rel="stylesheet" type="text/css" href="main.css")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/x-icon' href='favicon.ico')

  body
    header.header 
      .header__logo
    .wrapper
      .color__block
        +color-item({title: "Dark Shade 100%", hex: "#1F2041"})
        +color-item({title: "Dark Shade 75%", hex: "#1F2041"})
        +color-item({title: "Dark Shade 50%", hex: "#1F2041"})
        +color-item({title: "Dark Shade 25%", hex: "#1F2041"})
        +color-item({title: "Dark Shade 5%", hex: "#1F2041"})
        +color-item({title: "Purple", hex: "#BC9CFF"})
        +color-item({title: "Green", hex: "#6FCF97"})
      //.type__block
        +type-item({type: "H1", description: "This one is the sub-section or widget title"})
        +type-item({type: "H2", description: "Next one is the item title inside widgets"})
        +type-item({type: "H3", description: "This is a label or CTA text"})
        +type-item({type: "Body", description: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})
