@import "blocks/type-list/type-list.scss";
@import "blocks/color-list/color-list.scss";
@import "blocks/ui-kit-header/ui-kit-header.scss";
//@import "assets/fonts/fonts.scss"; не работает

$font-stack: Helvetica,
sans-serif;
$primary-color: aqua;

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin: 67px 0 0 150px;

}

.color__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 610px;
}

.ui-kit-header {
  padding: 30px 0 0 30px;
}