@import "blocks/type-list/type-list.scss";
@import "blocks/color-list/color-list.scss";
@import "blocks/ui-kit-header/ui-kit-header.scss";
@import "assets/fonts/fonts.scss";

$font-stack: Helvetica,
sans-serif;
$primary-color: aqua;

body {
  margin: 0;
  padding: 0;
}

.ui-kit-header {
  padding: 30px 0 0 30px;
}

.color-and-types {
  display: flex;
  margin: 67px 158px 0 150px;
  max-width: 1132px;
  justify-content: space-between;
}

.color-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 610px;
}

.type-list {
  max-width: 436px;
  max-height: 321px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//перенести все по файлам 