@import "pages/colors_and_types/colors_and_types.scss";
@import "pages/headers_and_footers/headers_and_footers";

@import "blocks/type-list/type-list.scss";
@import "blocks/color-list/color-list.scss";
@import "blocks/ui-kit-header/ui-kit-header.scss";
@import "assets/fonts/fonts.scss";
@import "blocks/logo/logo.scss";
@import "blocks/navigation/navigation";
@import "blocks/button/button";

$font-stack: Helvetica,
sans-serif;
$primary-color: aqua;

$darkShade: #1F2041;
$purple: #BC9CFF;
$green: #6FCF97;

body {
  margin: 0;
  padding: 0;
}

.ui-kit-header {
  padding: 30px 0 0 30px;
}