.header__body {
    display: flex;
    padding: 15px 140px;
    justify-content: space-between;
    align-items: center;

}

.header__navigation {
    display: flex;
}

.button {
    display: flex;
}

.header__authorization_authorized {
    color: rebeccapurple;
}

.button__button-sign-in {
    width: 87px;
    height: 34px;

}

.button__button-sign-up {
    width: 196px;
    height: 34px;
}