.header__body {
    display: flex;
    padding: 15px 140px;
    justify-content: space-between;
    align-items: center;

}

.header__menu {
    display: flex;
}

.header__authorization_unauthorized {
    display: flex;
}

.header__authorization_authorized {
    color: rebeccapurple;
}