.header__body {
    display: flex;
    padding: 15px 140px;
    justify-content: space-between;
    align-items: center;

}

.header__navigation {
    display: flex;
}

.buttons {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.header__authorization_authorized {
    color: rebeccapurple;
}