.navigation__list {
    display: flex;
    list-style-type: none;
    @include font_body;
}

.navigation__item_active {
    font-weight: 700;
}

.navigation__item_dropdown {
    color: $designColor_first;
}