mixin header__navigation({navigationList=[]})
    ui.navigation__list
        each navigationItem in navigationList
            li.navigation__item
                -
                    let isActive= navigationItem.active;
                    let hasDropdown= navigationItem.dropdown;

                a(class = isActive ? 'navigation__item_active' : '',
                    class = hasDropdown ? 'navigation__item_dropdown' : '') #{navigationItem.text}
